 .oferta_container{
    background-image: linear-gradient(#023049, #669ABB);
    width: 100%;
   
 }
 .subtitle{
    text-align: center;
    border-bottom: 3px solid #C0111F;
    color: #FFEDD4;
    margin: 20px auto;
    width: 400px;
}


.ofeta_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 98%;



}

.ofeta_card{
    padding: 20px;
    margin: 6px;
    text-align: center;
    background: #023049;
    width: 80%;

}

h4{

    color: #FFEDD4;

}

.oferta_img_item{
    width:60px;
}